/**
 * Mixins
 * ======
 */

.flow-into(@flow) {
    -webkit-flow-into: @flow;
            flow-into: @flow;
}

.flow-from(@flow) {
    -webkit-flow-from: @flow;
            flow-from: @flow;
}


// Pas de footer sur ces pages
.no-footer(@page) {
    .paper:nth-of-type(@{page}) .body:before,
    .paper:nth-of-type(@{page}) .body:after { content: "" }
}
