
/*
 * Typographie
 * ===========
 */

.page { text-rendering: optimizeLegibility; }


/*
 * Styles génériques
 * -----------------
 */

article {
    font-family: "Century Schoolbook", serif;
    font-size: 9pt;
    line-height: @line-height;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    -webkit-break-inside: avoid-region;
            break-inside: avoid-region;
}

p { margin: 0; }

em { font-style: italic; }

a {
    color: inherit;
    text-decoration: none;
}

sup {
    top: 0;
    padding-left: 0.125em;
    line-height: 0;
    font-size: 0.75em;
    vertical-align: super;
}

figure {
    position: relative;
    margin: 0
}

figure img {
    display: block;
    position: relative;

    text-align: center;
}

/**
 * À classer
 */

.rubrique-title {
    /*font-family: "Alfphabet-Condensed";*/
    font-family: "Erbarre", "Erbar condensed";
    font-size: 8pt;
    //font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
     padding-left:  @line-height / 4;
     padding-right:  @line-height / 4;
     padding-top:  @line-height / 5;
    line-height: @line-height;
    margin-top: 0;
    //margin-bottom: @line-height / 3;
    //letter-spacing: 3pt;
    //background-color: #39914F;
  //  color: white;
  //text-decoration: underline;
  border-bottom: 2pt solid #39914F;
}
.rubrique-subtitle {
//  font-family: "Erbarre", "Erbar condensed";
  font-family: "Alfphabet-Condensed";
    //text-transform: uppercase;
    padding-left:  @line-height / 4;
    padding-right:  @line-height / 4;
    padding-top:  @line-height / 5;
    margin-bottom: 20pt;
}

p.auteur {
    text-indent: 0!important;
    margin-top: @line-height;
    font-weight: normal;
}

p.fin::after {
    content: " M";
    font-size: 6.5pt;
    font-family: "Medor";
    color: black;
}


// no hyphens there
// https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens
h1,
h2,
li,
/*aside.making-of,*/
figcaption,
.exergue,
.chapeau {
    -webkit-hyphens: none;
       -moz-hyphens: none;
            hyphens: none;
}

/*
 * Styles enquêtes
 * -----------------
 */

.enquete > header > h1,
.enquete > header > h2 {
    font-family: "Erbar condensed";
    font-weight: bold;
    text-transform: uppercase;
}

.enquete > header > h1 { margin-top: @line-height * .5; }

.enquete > header > h2 {
    margin-top: @line-height / 2;
    margin-bottom: @line-height / 2;

    font-size: 18pt;
    line-height:  @line-height * 2;
}

.enquete > header > .authors {
    font-family: "Erbar condensed";
    font-weight: bold;
    padding: 0;
    font-size: 18pt;
    line-height: 18pt;
}

.enquete > header > .authors:before {
    content: "Par ";
}

.enquete > .chapeau {
    font-family: "Bagnard";
    line-height:  @line-height * 1.5;
    font-weight: normal;
    font-size: 15pt;
    padding: 0;
    margin: 0;
    margin-bottom: @line-height;
}

.enquete > h2,
.enquete > h3 {
    -webkit-region-break-after: avoid;
            region-break-after: avoid;
                   break-after: avoid-region;

    font-family: "Erbar condensed";
    font-weight: normal; ;
    line-height:  @line-height;
    text-transform: uppercase;
    margin-top: @line-height;
}
.enquete > h2 {
    font-size: 15pt;
    line-height: 15pt;
    margin-bottom: (@line-height * 2) - 15pt;
}
.enquete > h3 { font-size: 10.5pt; }

.enquete > p + h2 {
    margin-top: @line-height;
    margin-bottom: @line-height;
}

.enquete > p:not(.chapeau) + p { text-indent: @line-height; }

.enquete sup {
    font-size: 7pt;
    top: 0;
    vertical-align: super;
    padding-left: 0.125em;
}

.enquete > .footnotes {
    /*font-family: "Erbar condensed";*/
    font-family: 'Alfphabet-Condensed';
    margin: 0;
    font-size: 7.5pt;
    line-height: (@line-height / 8) * 6;
    list-style-type: none;
}

.enquete > .footnotes {
    font-style: normal;
    color: lighten(#2A85A4, 20%);
}
.enquete > .footnotes em {
    font-style: normal;
    color: #2A85A4;
}

// hides the numbers in the HTML since it is redundant with the css numbered bullets.
/*.enquete > .footnotes a[name^="sdfootnote"] { font-weight: bold; }*/
.enquete > .footnotes a[name^="sdfootnote"]:after { content: "." }
/*.enquete > .footnotes li { text-indent: -0.25em; }*/
.enquete > .footnotes li { margin-bottom: (@line-height / 8) * 6; }

.enquete > aside.exergue > blockquote {
    -webkit-region-break-inside: avoid;
                   break-inside: avoid;

    font-family: "Erbar condensed";
    font-size: 18pt;
    font-weight: bold;
    line-height: @line-height * 1.5;
}

.enquete > aside.exergue > blockquote:first-of-type { margin: 0; }
.enquete > aside.exergue > blockquote + h2 { margin-top: @line-height; }
.enquete > aside.exergue > blockquote p + p { margin: 0; }
.enquete > aside.exergue > blockquote em { font-style: normal; }
.enquete > aside.exergue > blockquote footer {
    font-size: 12pt;
    line-height: @line-height;
    font-weight: normal;
    /*margin-left: @col-gutter-width * 2;*/
}
.enquete > aside.exergue > blockquote footer:before {
    content: "— ";
}


.enquete p.debut:first-letter,
.enquete > h2 + p:first-letter {
    padding-right: 0.125em;
    height: @line-height * 3;
    float: left;
    font-family: "Erbar condensed";
    font-weight: bold;
    font-size: @line-height * 3.325;
    line-height: @line-height * 3.325;
}

.enquete .making-of {
    border-top: 4pt double #2A85A4;
    padding-top: 3pt;
    margin-top: 2 * @line-height;
    font-family: "Alfphabet";
    /*font-family: "Alfphabet-Condensed";*/
    color: #2A85A4;
}

.enquete--long > header h1 {
    font-size:  @line-height * 6;
    line-height:  @line-height * 5;
}

/*
 * Styles petites enquêtes
 * -----------------------
 */

.enquete--short > header { color: #FAB547; }

.enquete--short > header > h1 {
    font-size:  @line-height * 4.3;
    line-height:  @line-height * 4;
}

.enquete--short > header > .authors { display: none; }

.enquete--short > .chapeau {
  font-size: 12pt;
  line-height:  @line-height * 1.25;

 }

/*
 * Styles interview
 * -----------------
 */

.interview > header h1,
.interview > header h2 {
    font-family: "Erbarre, Erbar condensed";
    font-weight: bold;
    text-transform: uppercase;
}

.interview > header h1 {
    margin-top: @line-height * 5;

    font-size: 40pt;
    line-height:  @line-height * 4;
}

.interview > header h2 {
    margin-top: @line-height;

    font-size: 18pt;
    line-height:  @line-height * 1;
}

.interview > header .authors { display: none; }

/* FIXME: ça ne restera sans doute pas des H2 quadn Eddy aura corrigé */
.interview > h2 {
    font-size: inherit;
    font-weight: normal;
    line-height:  inherit;
    margin-bottom: @line-height;
}

.interview > p + h2 { margin-top: @line-height * 2; }
.interview > p + p { text-indent: 9pt * 2; }

.interview > h2,
.interview > p { position: relative; }

.interview > h2 > abbr:first-child,
.interview > p > abbr:first-child {
    font-family: "Erbarre, Erbar condensed";
    font-weight: bold;
    padding-right: @line-height;
    padding-bottom: @line-height;
    float: left;
    color: blue;
}

.interview .chapeau {
    color: #39914F;
    font-family: "Bagnard";
    font-size: 10pt;
    padding: 0;
    margin: 0;
    margin-top: 0;
    margin-bottom: @line-height * 2;
}

/*
 * Styles rubriques
 * -----------------
 */

.rubrique h1 {
    margin-top: 0;
    margin-bottom: @line-height;
    font-family: "career";
    font-size: 42pt !important;
    line-height: 32pt !important;
    font-weight: normal;
    letter-spacing: -1pt;
    padding-top: 6pt * 1;
    text-align: center;
    // text-shadow:
    // 3px 3px 0 white,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
  //  -1px -1px 0 white,
  //   1px -1px 0 white,
  //  -1px  1px 0 white,
  //   1px  1px 0 white;
}

.rubrique h2 {
  letter-spacing: 0pt;
    font-family: "career";
    font-weight: normal;
    font-size: 11pt;
    line-height:  @line-height;
    margin-top:  (@line-height/4) * 3;
    margin-bottom: @line-height/4;
}

//Style lettrine pour les rubriques.

.rubrique > header > h2{
  font-size: 18pt;
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: normal;
  float: left;
  display: inline;
}

.rubrique > header > .authors { display: none; }

.rubrique > h3 {
    margin-top:  @line-height;
    font-family: "Erbar condensed" !important;
    font-weight: normal; ;
    font-size: 12pt;
    line-height:  @line-height;
    text-transform: uppercase;
}

.rubrique > .chapeau {
  font-family: 'Work Sans';
    font-weight: 600;
  //  margin-bottom: @line-height ;
}

.rubrique > p {
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 9pt;
  letter-spacing: -0.1pt;
  line-height: @line-height;
}

.rubrique > p > em {
  line-height: (@line-height/4) *3;
  font-size: 9pt;

}

#page-1 .rubrique > p {
  font-family: 'Work Sans', 'Univers else';
  font-weight: 600;
  font-size: 9pt;
  letter-spacing: -0.1pt;
}

rubrique .filet {
    border-left:  2pt solid black;
    padding-left: 4.5pt + (0.75 / 2);
}

.rubrique .inline-fn{
  font-weight: bold;
  color: #39914F;
}

.photo > .footnotes,
.rubrique > .footnotes {
    /*font-family: "Erbar condensed";*/
    font-family: 'Alfphabet-Condensed';
    margin: 0;
    font-size: 7.5pt;
    line-height: (@line-height / 8) * 6;
    list-style-type: none;
    font-style: normal;
    // color: lighten(#2A85A4, 20%);
}

.photo > .footnotes em,
.rubrique > .footnotes em {
    font-style: normal;
    // color: #2A85A4;
}
.rubrique p.auteur {
    font-weight: 600;
}

// hides the numbers in the HTML since it is redundant with the css numbered bullets.
/*.enquete > .footnotes a[name^="sdfootnote"] { font-weight: bold; }*/
.rubrique > .footnotes a[name^="sdfootnote"]:after { content: "." }
.rubrique > .footnotes li { text-indent: -0.25em; }
.rubrique > .footnotes li { margin-bottom: (@line-height / 8) * 6; }
.rubrique > .footnotes li:first-of-type{
  border-top: 2pt double black;
  margin-top: (@line-height /4) * 3;
  padding-top: @line-height;
}
/*
 * Styles bd
 * -----------------
 */
.bd {

    color:white;
}

.bd p {
     font-family: 'Univers else';
    font-weight: 200;
    font-style: normal;
    letter-spacing: -0.05em;
    font-size: 9pt;
    line-height: @line-height*1;
    margin-top: @line-height*1;
    em{
      font-size: 9pt;
      line-height: @line-height*0;
      font-family: "Century Schoolbook";
    }
}

.bd h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'AyahuascaDemi';;
    font-size: 20pt;
    text-align: left;
    line-height: (@line-height) * 1.5;
    font-weight: normal;
    text-transform: uppercase;
}

.bd header > h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'AyahuascaDemi';;
    font-size: 80pt;
    text-align: left;
    line-height: (@line-height) * 7;
    font-weight: normal;
    text-transform: uppercase;
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.bd > header > .author { display: none; }

.bd header > h2{
  font-size: 12pt;
  margin-top:  (@line-height / 2) * 7;
  line-height: (@line-height / 2) * 3;
  margin-bottom: 0px;
  font-weight: bold;
  display: inline;
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);

}
.bd .chapeau {
    font-family: "bagnard";
    font-size: 17pt;
    line-height: (@line-height / 2) * 3;
    -webkit-region-break-after: always;
            region-break-after: always;
                   break-after: always;
   em{
     font-size: 17pt;
     font-family: "Century Schoolbook";
   }


}
.bd h2:nth-of-type(1) {
  margin-top: @line-height*1;
  margin-bottom: -@line-height*1;
  line-height: @line-height*1;
    -webkit-region-break-after: always;
            region-break-after: always;
                   break-after: always;

}

.bd h2{
    margin-top: @line-height;
    font-family: "bagnard";
    font-weight: 100;
    font-size: 12pt;
    line-height: @line-height*1;
    margin-top: @line-height*1;
    margin-bottom: -@line-height*1;
    -webkit-region-break-inside: avoid;
          region-break-inside: avoid;
               break-inside: avoid;

}

.bd p:nth-of-type(2) {
    -webkit-region-break-after: always;
            region-break-after: always;
                   break-after: always;
}

.bd .authors, .bd .auteur, .bd .authors::first-letter{
  font-family: "Belgika8th";
  font-weight: normal;
  font-style: normal;
  font-size: 8pt;
  padding:0;

}
/*
 * Styles portraits
 * -----------------
 */
.portrait{
  font-size: 11pt;
  line-height:  (@line-height * 4) / 3.2  ;
}

.portrait > header > h1 {
  font-family: "career";
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    font-size: 60pt;
    color:white;
    line-height: @line-height*5.5;
  }
.portrait h2 {
    font-family: "Erbar condensed";
    font-weight: normal;
    font-size: 11pt;
    line-height:  @line-height;
    text-transform: uppercase;
}

.portrait > header > .author { display: none; }

.portrait .chapeau {
    font-family: "Erbar condensed";
    font-size: 15pt;
    text-align: left;
    line-height:  (@line-height / 2) * 3;
    -webkit-region-break-after: always;
            region-break-after: always;
                   break-after: always;
}

.portrait header > h2 {
    font-size: 11.5pt;
    color: white;
    font-weight: bold;
}

.portrait h3 {
    font-family: "Erbar condensed" !important;
    font-weight: normal;
    font-size: 12pt;
    line-height:  @line-height;
    text-transform: uppercase;
    margin-top:  @line-height;
}

.portrait > .footnotes {
    font-family: "Erbar condensed";
    margin: 0;
    font-size: 8pt;
    line-height: (@line-height / 8) * 7;
}
/*
 * Styles photo
 * -----------------
 */

.photo header > h1{
  font-family: "Erbar condensed";
  text-transform: uppercase;
  font-size: 60pt;
  line-height: @line-height*4.5;
  text-align: center;
}
.photo h2 {
  margin-top: @line-height;
  text-transform: uppercase;
  font-size: 10pt;
  font-family: 'Belgika5th';
  font-weight: normal;
  font-style: normal;
}

.photo > .chapeau {
  font-size: 9pt;
  font-family: 'Belgika5th';
}

.photo figcaption > p {
  font-family: 'Work Sans';
  font-weight: 300;
  font-style: normal;
  font-size: 7pt;
  line-height: @line-height/4;
  display: inline;
}

.photo figcaption > h2 {
  font-family: 'Work Sans';
  font-weight: 600;
  font-style: normal;
  font-size: 7pt;
  display: inline;
  line-height: @line-height/2;

}



/* hides the numbers in the HTML since it is redundant with the css numbered bullets.
.portrait > .footnotes a[name^="sdfootnote"] { display: none; }
.portrait > .footnotes li { text-indent: -0.25em; }*/


// hides the numbers in the HTML since it is redundant with the css numbered bullets.
//.portrait > .footnotes a[name^="sdfootnote"] { display: none; }
//.portrait > .footnotes li { text-indent: -0.25em; }


/*.inline-fn {*/
    /*.w1;*/
    /*display: block;*/
    /*float: left;*/
    /*[>color: @color-A1;<]*/
    /*margin-top: @line-height;*/
    /*margin-bottom: @line-height;*/
    /*margin-right: 9pt;*/
    /*font-family: "Erbar condensed";*/
/*}*/

.inline-fn {
    width: (@col-width * 1.5);
    display: block;
    float: left;
    /*color: @color-A1;*/
    margin-top: @line-height;
    margin-bottom: @line-height;
    /*margin-left: -1 * @col-gutter-width;*/
    margin-right: 9pt;
    font-family: "Univers else";
    font-weight: 200;
    font-size: 7pt;
    line-height: 9pt;
}

.inline-fn a[name]{
    font-weight: bold;
}


.rubrique figcaption,
.rubrique figure,
.enquete figcaption,
.enquete figure {
    position: relative;
}

.rubrique figcaption,
.enquete figcaption {
    font-family: "Alfphabet", sans-serif;
    font-size: 7pt;
    line-height: 9pt;
}

.rubrique figcaption p,
.enquete figcaption p {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6pt 1em;
    .w4;
}

.figcaption-allover {
    padding: 6pt (6pt + 14pt) (6pt + 14pt) (6pt + 14pt);
}

.rubrique figcaption footer,
.enquete figcaption footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
}


/*
 * Styles making-off article
 * -----------------
 */
