/*
 * Typographie
 * ===========
 */

.page { text-rendering: optimizeLegibility; }


/* 
 * Styles génériques
 * -----------------
 */


article {
    font-family: "Century Schoolbook", serif;
    font-size: 9pt;
    line-height: @line-height;
}


h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
    -webkit-break-inside: avoid-region;
    -webkit-break-inside: avoid-region;
}


p { margin: 0; }
p + p { text-indent: @line-height; }

em { font-style: italic; }


.exergue {
    font-family: "Erbar condensed";
    font-weight: bold;
    font-size: 21pt;
    line-height: @line-height * 1.5;
    margin-top: @line-height / 2;
    margin-bottom: @line-height / 2;
}

.auteur{

}

figure {
    margin-top:  @line-height / 2;
    margin-bottom:  @line-height / 2;
}

figure img{
    max-width:50%;
    text-align:center;
}

figcaption {
    font-family: "Erbar condensed";
    font-size: 8pt;
    line-height: @line-height * 1.5; 
} 

.footnote {
    font-family: "Erbar condensed";
    font-size: 8pt;
    line-height:  (@line-height / 2) * 1.5; 
}
.footnote > hr { display: none; }
.footnot-ref > a { 
    color: inherit; 
    text-decoration: none; 
}
.footnote-backref { display: none; }



/* 
 * Styles enquêtes
 * -----------------
 */


.enquete h1 {
    font-family: "Erbar condensed";
    font-weight: bold;
    font-size: 40pt;
    line-height:  (@line-height / 2) * 7; 
    text-transform: uppercase;
	border-top: 5px solid black !important;
	border-bottom: 5px solid black !important;
	padding:10px 0px;
}
.enquete h2 {
    font-family: "Erbar condensed" !important;
    font-weight: bold;
    font-size: 12pt;
    line-height:  @line-height; 
    text-transform: uppercase;
    margin-top:  @line-height;

}

.enquete .chapeau {
    font-family: "Bagnard";
    font-size: 15pt;
    line-height:  (@line-height / 2) * 3;
    -webkit-region-break-after: always;
}

/* 
 * Styles interview
 * -----------------
 */

.interview b {
    font-family: "Century Schoolbook";
    font-style: italic;
}

.interview h1 {
    font-family: "Century Schoolbook";
    font-size: 45pt;
    line-height:  @line-height * 3; 
}

.interview .chapeau {
    font-family: "Century Schoolbook";
    font-size: 14pt;
    line-height:  (@line-height / 2) * 3;
    -webkit-region-break-after: always;
}


/* 
 * Styles rubriques
 * -----------------
 */

.rubrique h1 { 
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Bagnard";
    font-size: 35pt;
    line-height: 6pt * 7;
    font-weight: normal;
    padding-top: 6pt * 1;
	border-top: 10px double black !important;
}

.rubrique h2 {
    float: left;

    margin: 0 6pt 0 0;

    font-family: "Erbar condensed";
    font-weight: bold;
    font-size: 9.4pt;
    line-height: 6pt * 2;
    text-transform: uppercase;
    padding-top: 6pt * 1;
}

/* 
 * Styles bd
 * -----------------
 */

.bd h1 { 
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Bagnard";
    font-size: 44pt;
    line-height: 6pt * 7;
    font-weight: normal;
}

.bd h2 {
    float: left;

    margin: 0 6pt 0 0;

    font-family: "Erbar condensed";
    font-weight: bold;
    font-size: 9.4pt;
    line-height: 6pt * 2;
    text-transform: uppercase;
    padding-top: 6pt * 1;
}

.bd .chapeau {
    font-family: "Century Schoolbook";
    font-size: 14pt;
    line-height: 6pt * 3;
    -webkit-region-break-after: always;
}

/* 
 * Styles portraits
 * -----------------
 */


.portrait h1 {
    font-family: "Erbar condensed";
    font-weight: bold;
    font-size: 54pt;
    line-height: 6pt * 9; 
    text-transform: uppercase;
	border-top: 10px double black !important;
}
.portrait h2 {
    font-family: "Erbar condensed" !important;
    font-weight: bold;
    font-size: 15pt;
    line-height:  (@line-height / 2) * 3; 
    text-transform: uppercase;
    padding-top:  @line-height / 2;

}

.portrait .chapeau {
    font-family: "Bagnard";
    font-size: 15pt;
    line-height:  (@line-height / 2) * 3;
    -webkit-region-break-after: always;
}
