@import "/css/main.less";


#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
        flow-from: flow-main;
}
#flow-main header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title {
    -webkit-flow-from: flow-title;
        flow-from: flow-title;
}


#flow-main figure:nth-of-type(1) { .flow-into(flow-fig1); }
.flow-fig1 { .flow-from(flow-fig1); }

/* reset folio */
body { counter-reset: folio 21 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Le sexe de Médor"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }


.flow-fig1 figure, .fig1 figure {
    width: 176%;
    height: auto;
}
.flow-fig2 figure, .fig2 figure {
  width: 138%;
    height: auto;
  margin-left: -354pt;
}
.flow-fig1 img, .fig1 img , .flow-fig2 img, .fig2 img  {
    border: 1pt solid #fffe35;
    background-color: #fffe35;
  }

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;


}

figcaption {
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(-90deg); /* IE 9 */
    transform: rotate(-90deg);
    -webkit-transform-origin: left top 0; /* Chrome, Safari, Opera */
    -ms-transform-origin: left top 0; /* IE 9 */
    transform-origin: left top 0;
    position: relative;
    margin-left: 100%;
    width:100%;
    background-color: #fffe35;

}

.rubrique h1 {
  padding: 5px 0;
  margin-top: 20pt !important;
 }

.exergue p + p {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    -webkit-region-break-inside: avoid;
    margin: 0;
}

blockquote > footer {
    font-size: 1rem;
    text-align: right;
}
.rubrique .footnotes > li{
    font-family: "Erbar condensed";
    font-weight: normal;
    font-style: normal;
    margin: 0;
    font-size: 8pt;
}
.rubrique .footnotes > li > a {
    color: black;
    text-decoration: none;
}
.rubrique-title {
//background-color: yellow;
color: black;
}
ul {
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate(-90deg); /* IE 9 */
  transform: rotate(-90deg);
  -webkit-transform-origin: left bottom 0; /* Chrome, Safari, Opera */
  -ms-transform-origin: left bottom 0; /* IE 9 */
  transform-origin: left bottom 0;
  position: relative;
  margin-left: 133pt;
  margin-top: 140pt;
  width:100%;
  list-style-type: none;
    font-family: "Erbar condensed";
    line-height: @line-height;
}

h2:last-of-type{
  display: none;
}
h2:nth-of-type(3){
//margin-top: 0px !important;
}

p > em{
  font-family: 'Century Schoolbook' !important;
  font-style: italic !important;
}
strong{
  font-family: "Belgika8th";
  font-weight: normal;
  font-style: normal;
  font-size: 8pt;
  display: inline;
}
strong::after{
  content: ' M';
  font-family: 'Medor';
  color:yellow;
}
.authors{
  display: none;
}
#page-1 .y1 {
  margin-top: 12pt;
}
#page-1 {
background-image:linear-gradient(#fffe35 50%, #de7162 50%);
background: -webkit-linear-gradient(#fffe35 , #de7162); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fffe35 , #de7162); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fffe35 , #de7162); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fffe35 , #de7162); /* Standard syntax */
}
body {
background-color: white;
e}
