@import "../../../css/main.less";
@line-height: 11.5pt;
@color-beige:#fefac2;
@color-bleu:#1e60e1;

#flow-main header .rubrique-title,
#flow-main header .rubrique-subtitle { .flow-into(flow-slug); }
.flow-slug { .flow-from(flow-slug); }

#flow-main header { .flow-into(flow-title); }
.flow-title { .flow-from(flow-title); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }

#flow-main .chapeau { .flow-into(flow-chapeau); }
.flow-chapeau { .flow-from(flow-chapeau); }

//
// #flow-main figure:nth-of-type(1) { .flow-into(flow-fig1); }
// .flow-fig1 { .flow-from(flow-fig1); }

/* reset folio */
body { counter-reset: page-counter 7 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Le sexe de Médor"; }
// #page-1 .body:before { display: none; }
.paper:nth-of-type(1) .body:before  { display: none; }


.fond {
    background-image: url("https://medor.coop/media/filer_public/f9/21/f9216954-a94f-4f0f-aa75-28d2ac74b71c/grain-vert-bleu-high.png");
    background-size: cover;
}
.rubrique-title { border-color: @color-beige; }

.flow-fig1 figure, .fig1 figure {
  width: 95%;
  height: auto;
  top: -2pt;
  left: 7pt;
}
.flow-fig2 figure, .fig2 figure {
    width: 117%;
    height: auto;
//  margin-left: -354pt;
}
.flow-fig1 img, .fig1 img , .flow-fig2 img, .fig2 img  {
    // border: 1pt solid #fffe35;
    // background-color: #fffe35;
  }
  .fig4 figure {
width: 135%;
  }

  .fig5 figure {
  margin-top: -14pt;  }
  .fig6 figure {
  margin-top: -26.5pt;
    width: 107%;
  }


img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;


}



.rubrique h1 {
  color: @color-beige;
  text-shadow: 0px 0px 0 #ffff00 ;
  font-weight: normal;
  padding-top: 24pt;
 }

.exergue p + p {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    -webkit-region-break-inside: avoid;
    margin: 0;
}

blockquote > footer {
    font-size: 1rem;
    text-align: right;
}



h2:nth-of-type(3){
//margin-top: 0px !important;
}

p > em{
  font-family: 'Century Schoolbook' !important;
  font-style: italic !important;
}

aside > p  {
  // line-height: (@line-height/4) *3;
  font-family: 'Century Schoolbook';
  font-style: italic;
  font-size: 9pt;
  text-indent: 1.5em;
  //padding-left: 1em;
}
aside{
  margin-bottom: @line-height;

}
.authors{
  display: none;
}

#page-1 {
// background-image:linear-gradient(#fffe35 50%, #de7162 50%);
// background: -webkit-linear-gradient(#fffe35 , #de7162); /* For Safari 5.1 to 6.0 */
//   background: -o-linear-gradient(#fffe35 , #de7162); /* For Opera 11.1 to 12.0 */
//   background: -moz-linear-gradient(#fffe35 , #de7162); /* For Firefox 3.6 to 15 */
//   background: linear-gradient(#fffe35 , #de7162); /* Standard syntax */
}

// .inline-fn {
//   color:#f1d0c8 !important;
// }

.chapeau{
  font-feature-settings: "liga" 0;
  -webkit-font-feature-settings: "liga" 0;
margin-top: 12pt;
}

.rubrique > .footnotes {
    color: @color-bleu;
    list-style-type: none;
}
.rubrique > .footnotes em {
  font-style: italic;
  line-height: (@line-height/4)*3;
}

.rubrique h2 {
  margin-top: @line-height;
  line-height: @line-height;
}
  figcaption{
    font-family: "Alfphabet" !important;
    font-size: 7pt;
    line-height: 9pt;
    margin-top: 11.5pt !important;

}

 figcaption p {
    //background-color: white;
    position: relative !important;
    bottom: 34px;
    left: 0;
    padding: 6pt 1em;
    .w3;
}

.figcaption-allover {
    padding: 6pt (6pt + 14pt) (6pt + 14pt) (6pt + 14pt);
}

 figcaption footer {
    position: absolute;
    bottom: 9px;
    left: 0;
    margin: 0;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
            margin-left: 117%;
            margin-bottom: 0pt;
            margin-right: -103%;
}

.footnotes{
margin-top: @line-height *2;
}
a > sup {
   font-weight: 900;
   color: @color-beige;
}


/* EXPORT */
.bw {
    .fond {
        background-image: none !important;
    }
    header,
    a > sup,
    .footnotes,
    img,{
        visibility: hidden !important;
    }
}

.color {
    .chapeau,
    .filet:before {
        border-color: transparent;
    }
    .fin:after {
        visibility: hidden !important;
    }
}
