@import "../../../css/main.less";

#page-1 div.body::after, #page-1 div.body::before, {
  //display: none;
}

#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
        flow-from: flow-main;
}

#flow-main header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title {
    -webkit-flow-from: flow-title;
        flow-from: flow-title;
}

#flow-main header .rubrique-title,
#flow-main header .rubrique-subtitle { .flow-into(flow-slug); }
.flow-slug { .flow-from(flow-slug); }


#flow-main li:nth-of-type(1) { .flow-into(flow-fn1); }
.flow-fn1 { .flow-from(flow-fn1); }

#flow-main .footnotes li:nth-of-type(2),
#flow-main .footnotes li:nth-of-type(3) { .flow-into(flow-fn2-3); }
.flow-fn2-3 { .flow-from(flow-fn2-3); }


#flow-main .footnotes li:nth-of-type(4),
#flow-main .footnotes li:nth-of-type(5) { .flow-into(flow-fn4-5); }
.flow-fn4-5 { .flow-from(flow-fn4-5); }


p.authors {
  position: absolute;
  margin-top:250pt;
}

figure:nth-of-type(1),
figure:nth-of-type(2) {
     width: 140%;
}

figure:nth-of-type(1) img,
figure:nth-of-type(2) img {
}

figure:nth-of-type(2) {
  margin-left: -510pt;
  margin-top: -21pt;
}


/* reset folio */
body { counter-reset: folio 60 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Enquête — LE GOÛT AMER DES PILULES MITHRA"; }


.chapeau{
  -webkit-region-break-after: always;
          region-break-after: always;
                 break-after: always-region;
}

/* EXPORT */
.bw {
    .fond {
        background-image: none !important;
    }
    .footnotes,
    a > sup,
    img {
        visibility: hidden !important;
    }
}

.color {
    .fin:after {
        visibility: hidden !important;
    }
}
