@import "../../../css/main.less";

#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
        flow-from: flow-main;
}

#flow-main header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title {
    -webkit-flow-from: flow-title;
        flow-from: flow-title;
}


#flow-main figure:nth-of-type(1) { .flow-into(flow-fig1); }
.flow-fig1 { .flow-from(flow-fig1); }

#flow-main figure:nth-of-type(2) { .flow-into(flow-fig2); }
.flow-fig2 { .flow-from(flow-fig2); }

#flow-main figure:nth-of-type(3) { .flow-into(flow-fig3); }
.flow-fig3 { .flow-from(flow-fig3); }

#flow-main figure:nth-of-type(4) { .flow-into(flow-fig4); }
.flow-fig4 { .flow-from(flow-fig4); }

#flow-main figure:nth-of-type(5) { .flow-into(flow-fig5); }
.flow-fig5 { .flow-from(flow-fig5); }

#flow-main figure:nth-of-type(6) { .flow-into(flow-fig6); }
.flow-fig6 { .flow-from(flow-fig6); }




img {

}

figure:nth-of-type(1),
figure:nth-of-type(2) {
     width: 140%;
}

figure:nth-of-type(1) img,
figure:nth-of-type(2) img {
}

figure:nth-of-type(2) {
  margin-left: -510pt;
  margin-top: -21pt;
}


/* reset folio */
body { counter-reset: folio 60 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Enquête — Docteur Mithra et Mister Bling-bling"; }


/* EXPORT */
.bw {
    .fond {
        background-image: none !important;
    }
    .footnotes,
    a > sup,
    img {
        visibility: hidden !important;
    }
}

.color {
    .fin:after {
        visibility: hidden !important;
    }
}

