@import "../../../css/main.less";

#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
        flow-from: flow-main;
}
#flow-main header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title {
    -webkit-flow-from: flow-title;
        flow-from: flow-title;
}

#flow-main figure:nth-of-type(1) { .flow-into(flow-fig1); }
.flow-fig1 { .flow-from(flow-fig1); }



/* reset folio */
body { counter-reset: folio 33 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: " "; }
 .body:after,  .body:before, { content: "" }

.fond {
    background-image: url("https://medor.coop/media/filer_public/f8/43/f843d798-e668-40e5-ad95-7cb057946fbe/entree-retouche-outlined.svg");
    background-size: cover;
}

figure img {
  width: 85%;
}
