#flow-le-mac-gyver-des-campings {
    -webkit-flow-into: flow-le-mac-gyver-des-campings;
            flow-into: flow-le-mac-gyver-des-campings;
}

.flow-le-mac-gyver-des-campings {
    -webkit-flow-from: flow-le-mac-gyver-des-campings;
        flow-from: flow-le-mac-gyver-des-campings;
}

/* reset folio */
body { counter-reset: page-counter 11 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Portrait — Bac + 10 à l’école de la vie"; }
.paper:nth-child(even) .body:before { content: "Médor n°1 —  printemps 2015"; }



