@import "../../../css/main.less";


#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
        flow-from: flow-main;
}
#flow-main header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title {
    -webkit-flow-from: flow-title;
        flow-from: flow-title;
}


#flow-main figure:nth-of-type(1) { .flow-into(flow-fig1); }
.flow-fig1 { .flow-from(flow-fig1); }

#flow-main figure:nth-of-type(2) { .flow-into(flow-fig2); }
.flow-fig2 { .flow-from(flow-fig2); }



/* reset folio */
body { counter-reset: folio 92 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Médor à colorier"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }




figcaption {
  font-family: 'Tsukuri' !important;
  position:relative;
  top: 110px;
  height: 120px;
  margin-top: 54pt;
  margin-left: 718pt;
}

figcaption p{
  font-family:'Tsukuri';
  font-size:10pt !important;
  text-align: center;
  width: 25% !important;
  padding-top: 12pt;

}

figcaption footer {
  font-family: "Alfphabet", sans-serif;
   position: relative;
   bottom: 9px;
   left: 0;
   margin: 0;
   margin-top: 109pt;
   margin-left: 12pt;
}

img {
}


.flow-fig1 figure,
.flow-fig2 figure {
  width: 200%;
  margin-top:-50px;

}

.flow-fig2 figure {
margin-left: -645px;
}
