@import "../../../css/main.less";

#flow-main header .rubrique-title,
#flow-main header .rubrique-subtitle { .flow-into(flow-slug); }
.flow-slug { .flow-from(flow-slug); }

#flow-main footer { .flow-into(flow-footer); }
.flow-footer { .flow-from(flow-footer); }

#flow-main header { .flow-into(flow-title); }
.flow-title { .flow-from(flow-title); }

#flow-main figure:nth-of-type(1) { .flow-into(flow-fig1); }
.flow-fig1 { .flow-from(flow-fig1); }

#flow-main figure:nth-of-type(2) { .flow-into(flow-fig2); }
.flow-fig2 { .flow-from(flow-fig2); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }


.no-footer(1);
.no-footer(2);


/* reset folio */
body { counter-reset: folio 92 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: ""; }
.paper:nth-child(even) .body:before { content: ""; }

.flow-slug {
    padding-left: 14pt + 24pt;
    padding-right: 2pt;
    background-color: white;
}
.flow-footer { left: 419pt; top: 203pt; }
.rubrique-subtitle { margin-bottom: 0; }

figcaption {
  font-family: 'Tsukuri' !important;
  position:relative;
  top: 110px;
  height: 120px;
  margin-top: 54pt;
  margin-left: 718pt;
}

figcaption p{
  font-family:'Tsukuri';
  font-size:10pt !important;
  line-height: 13pt !important;
  text-align: center;
  width: 14% !important;
  padding-top: 12pt;
  padding-bottom: 8pt;

}

figcaption footer {
  font-family: "Alfphabet", sans-serif;
   position: absolute;
   top: 0;
   left: 0;
}

img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   margin: 0 !important;
 }


.flow-fig1 figure,
.flow-fig2 figure {
  width: 194% !important;
  margin-top:-18px;
}

.flow-fig2 figure {
 margin-left: -645px;
}

.flow-title {
 background-color: white;
 z-index:2;
}

header {
  background-color:white;
  margin-bottom: 0px
}

h1 {
    height: 0;
    width: 0;
}

