@import "/css/main.less";

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }


// FLOW IMAGES

figure{
  display:none;
}


.legende_photo > p {
  font-family: 'Work Sans';
  font-weight: 300;
  font-style: normal;
  font-size: 7pt;
  line-height: @line-height/2;
  display: inline;
}

.legende_photo > h2 {
  font-family: 'Work Sans';
  font-weight: 600;
  font-style: normal;
  font-size: 7pt;
  display: inline;
  line-height: @line-height/2;


}
.legende_photo { .flow-into(flow-text-photo); }
.flow-text-photo{ .flow-from(flow-text-photo); }


.legende_photo  .break {
  -webkit-region-break-after: always;
          region-break-after: always;
                 break-after: always;
}

.footnotes {
    font-style: normal;
    color: lighten(#2A85A4, 20%);
}
.footnotes em {
    font-style: normal;
    color: #2A85A4;
}

.footnotes a[name^="sdfootnote"]:after { content: "." }
/*.enquete > .footnotes li { text-indent: -0.25em; }*/
.footnotes li { margin-bottom: (@line-height / 8) * 6; }

.photo > p {
   font-family: 'Work Sans';
  font-weight: 300;
  font-style: normal;
  letter-spacing: -0.05em;
  font-size: 9pt;
  line-height: @line-height*0.95;
  em{
    font-size: 9.2pt;
    font-family: "Century Schoolbook";
  }
}


.s_titre {
  font-size: 7pt;
  font-family: 'Belgika8th';
  line-height: @line-height*1.1
}

/*#flow-main figure:nth-of-type(2) { .flow-into(flow-fig2); }
.flow-fig2 { .flow-from(flow-fig2); }

#flow-main figure:nth-of-type(3) { .flow-into(flow-fig3); }
.flow-fig3 { .flow-from(flow-fig3); }

#flow-main figure:nth-of-type(4) { .flow-into(flow-fig4); }
.flow-fig4 { .flow-from(flow-fig4); }

#flow-main figure:nth-of-type(5) { .flow-into(flow-fig5); }
.flow-fig5 { .flow-from(flow-fig5); }*/

#flow-main header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}
.flow-title {
    -webkit-flow-from: flow-title;
        flow-from: flow-title;
}

/* reset folio */
body { counter-reset: folio 43 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Portofolio"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }
