@import "/css/main.less";

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }


// FLOW IMAGES

figure{
  display:none;
}


.legende_photo > p {
  font-family: 'Univers else';
  font-weight: 200;
  font-style: normal;
  font-size: 7pt;
  line-height: @line-height/1.4;
  display: inline;
}

.legende_photo > h2 {
  font-family: 'Univers else';
  font-weight: bold;
  font-style: normal;
  font-size: 7pt;
  text-transform: uppercase;
  display: inline;
  line-height: @line-height/1.4;


}
.legende_photo { .flow-into(flow-text-photo); }
.flow-text-photo{ .flow-from(flow-text-photo); }


.legende_photo  .break {
  -webkit-region-break-after: always;
          region-break-after: always;
                 break-after: always;
}

.s_titre {
  font-size: 7pt;
  font-family: 'Belgika8th';
  line-height: @line-height*1.1
}

/*#flow-main figure:nth-of-type(2) { .flow-into(flow-fig2); }
.flow-fig2 { .flow-from(flow-fig2); }

#flow-main figure:nth-of-type(3) { .flow-into(flow-fig3); }
.flow-fig3 { .flow-from(flow-fig3); }

#flow-main figure:nth-of-type(4) { .flow-into(flow-fig4); }
.flow-fig4 { .flow-from(flow-fig4); }

#flow-main figure:nth-of-type(5) { .flow-into(flow-fig5); }
.flow-fig5 { .flow-from(flow-fig5); }*/

#flow-main header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}
.flow-title {
    -webkit-flow-from: flow-title;
        flow-from: flow-title;
}

/* reset folio */
body { counter-reset: folio 43 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "portofolio — Sujet photo"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }
