.paper:nth-child(odd) .body {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

article img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.header,
.footer {
    display: none;
}
