#flow-herrmutt-lobby {
    -webkit-flow-into: flow-herrmutt-lobby;
            flow-into: flow-herrmutt-lobby;
}

.flow-herrmutt-lobby {
    -webkit-flow-from: flow-herrmutt-lobby;
        flow-from: flow-herrmutt-lobby;
}

/* reset folio */
body { counter-reset: page-counter 56 - 1; }
/*body { counter-reset: folio 56 - 1; }*/


/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Rubrique Fulguro-Point"; }
.paper:nth-child(even) .body:before { content: "Médor n°1 —  décembre-janvier-février 2015"; }
