@import "../../../css/main.less";
@line-height: 11.5pt;
@color-bleu-elec:#1e60e1;

#flow-main header .rubrique-title,
#flow-main header .rubrique-subtitle { .flow-into(flow-slug); }
.flow-slug { .flow-from(flow-slug); }

#flow-main header { .flow-into(flow-title); }
.flow-title { .flow-from(flow-title); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }

#flow-main .chapeau { .flow-into(flow-chapeau); }
.flow-chapeau { .flow-from(flow-chapeau); }

#flow-main .footnotes { .flow-into(flow-footnotes); }
.flow-footnotes { .flow-from(flow-footnotes); }
#flow-main figure:nth-of-type(1) { .flow-into(flow-fig1); }
.flow-fig1 { .flow-from(flow-fig1); }
#flow-main figure:nth-of-type(2) { .flow-into(flow-fig2); }
.flow-fig2 { .flow-from(flow-fig2); }

/* reset folio */
//body { counter-reset: folio 41 - 1; }
body { counter-reset: page-counter 32 - 1; }


.fond {
    background-image: url("https://medor.coop/media/filer_public/ac/cb/accbf7e9-a033-4215-914e-81e5e1bd7aee/zone-neutre-toner-jaune-vert-high.png");
    background-size: cover;
}

.rubrique-title { border-color: @color-bleu-elec; }

.rubrique h1 {
  color:@color-bleu-elec !important;
    margin-top: 24pt;
}
.rubrique > p {
  line-height: @line-height;

}
/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Enquêteke"; }
.paper:nth-of-type(1) .body:before  { display: none; }


img {
    //display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    object-fit: cover;

}

.fig1 figure{
width: 100%;
// margin-left: -328pt;
margin-top: -50pt;
}
.fig3 figure{
margin-top: 12pt;
}

.chapeau{
  font-feature-settings: "liga" 0;
  -webkit-font-feature-settings: "liga" 0;
    margin-top: 24pt;
}

 .footnotes {
    color: @color-bleu-elec;
    list-style-type: none;
  margin-top: -24pt;
      font-family: 'Alfphabet-Condensed';
    margin: 0;
    font-size: 7.5pt;
    line-height: (@line-height / 8) * 6;
    list-style-type: none;
    font-style: normal;
}
 .footnotes em {

   font-style: italic;

}

.rubrique h2 {
  margin-top: 11pt ;
  margin-bottom: 0;

  line-height: @line-height;
}


  figcaption{
    font-family: "Alfphabet", sans-serif;
    font-size: 7pt;
    line-height: 9pt;
    top: 45px;
    color: black;

}
.fin + figcaption {
  position: relative !important;

}
.fin + figcaption > p > strong {
  font-family: 'Alfphabet';
  font-weight: normal;
}

 figcaption p {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6pt 1em;
  width: 118pt !important;
      border: 1px solid black;


}

.figcaption-allover {
    padding: 6pt (6pt + 14pt) (6pt + 14pt) (6pt + 14pt);
}

 figcaption footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
            margin-left: 1%;
margin-bottom: 0pt;
margin-right: -43%;
}

.auteur{
  -webkit-region-break-after: always;
           region-break-after: always;
                  break-after: always-region;
}

a > sup, em > a > sup  {
   font-weight: 900;
   color: @color-bleu-elec;
   font-family: 'WorkMedor';
}

/* EXPORT */
.bw {
    .fond {
        background-image: none !important;
    }
    header,
    img,
    a > sup,
    .footnotes,
    .footnotes a[name^="sdfootnote"]:after {
        visibility: hidden !important;
    }
    .chapeau {
        color: transparent !important;
        background-color: transparent !important;
    }
    .flow-fig2 figure img{
      display: none;
    }

}

.color {
    .fin:after {
        visibility: hidden !important;
    }
    .chapeau,
    .filet:before {
        border-color: transparent !important;
    }
    figcaption footer,
    figcaption p {
        color: transparent !important;
        border-color: transparent !important;
    }
    img{
      visibility:inherit;
    }

}
