/* Styles for 02_quand-jetais-flamand */

#flow-quand-jetais-flamand header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title {
    -webkit-flow-from: flow-title;
        flow-from: flow-title;
}

img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}



.exergue p + p {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    -webkit-region-break-inside: avoid;
                   break-inside: avoid;
    margin: 0;

}

blockquote > footer {
    font-size: 1rem;
    line-height: @line-height;
    text-align: right;
}
blockquote p + p{
    float: left;
    display: inline;
}
p + p {
text-indent: 0px;
}


blockquote {
  quotes: "«" "»" "“" "”";
}
blockquote > p:first-of-type::before {
    content: open-quote;
}
blockquote > p:last-of-type::before {
    content: close-quote;
}


.contexte{
margin-bottom: 13px;

}
