@import "/css/main.less";

article > figure:nth-of-type(1) { .flow-into(flow-fig1); }
.flow-fig1 { .flow-from(flow-fig1); }

#flow-main > header { .flow-into(flow-title); }
.flow-title{ .flow-from(flow-title); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }
/* reset folio */
body { counter-reset: folio 108 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Lobbycratie"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }


article > figure:nth-of-type(1),
article > figure:nth-of-type(1) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
