@import "../../../css/main.less";
@line-height: 11.5pt;
@color-vert:#3AAB0D;

#flow-main header .rubrique-title,
#flow-main header .rubrique-subtitle { .flow-into(flow-slug); }
.flow-slug { .flow-from(flow-slug); }

#flow-main header { .flow-into(flow-title); }
.flow-title { .flow-from(flow-title); }

article > figure:nth-of-type(2) { .flow-into(flow-fig1); }
.flow-fig1 { .flow-from(flow-fig1); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }

#flow-main .chapeau { .flow-into(flow-chapeau); }
.flow-chapeau { .flow-from(flow-chapeau); }

/* reset folio */
body {counter-reset: page-counter 100 - 1;}

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Lobbycratie"; }


.fond {
    background-image: url("https://medor.coop/media/filer_public/7a/aa/7aaa605b-ac0b-4fc4-8e93-eded36bc482e/grain-jaune-fushia-high.png");
    background-size: cover;
}

.rubrique-title { border-color: @color-vert; }


article > figure:nth-of-type(1),
article > figure:nth-of-type(1) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    //display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;

}

.fig2 figure {
width: 150%;
margin-left: 0pt;
margin-top: 0pt;
text-align: left;
}
.fig1 figure {
margin-left: 0pt;
margin-top: 0pt;
text-align: left;

}

.rubrique > p {
  line-height: @line-height;

}


.rubrique h1 {
  // padding: 5px 0;
  font-weight: normal;
  color:@color-vert !important;
  margin-top: 5pt !important;
}

.inline-fn {
  color:#b14542 !important;
}

.chapeau{

  margin-bottom: (@line-height)  !important;
   font-feature-settings: "liga" 0;
   -webkit-font-feature-settings: "liga" 0;
     padding-top: 5pt !important;

}

.rubrique > .footnotes {
    color: @color-vert;
    list-style-type: none;
    margin-top: 0pt;
}
.rubrique > .footnotes em {

   font-style: italic;

}
#page-2 h2 {
-webkit-region-break-before: always;
         region-break-before: always;
                break-before: always-region;
}
#page-2 .filet {
  height: 224.5pt !important;
}
#page-2 .y7 {
  margin-top: 3pt;
  height: @line-height * 19 !important;
}
#page1 .y5 {
  margin-top: @line-height  * 3;
  height: @line-height * 30;
}
.rubrique h2 {
  margin-top: 11pt ;
  margin-bottom: 0;

  line-height: @line-height;
}
  figcaption{
    font-family: "Alfphabet", sans-serif;
    font-size: 7pt;
    line-height: 9pt;
}

 figcaption p {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6pt 1em;
    .w6;
}

.figcaption-allover {
    padding: 6pt (6pt + 14pt) (6pt + 14pt) (6pt + 14pt);
}

 figcaption footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
            margin-left: 103%;
margin-bottom: 0pt;
margin-right: -43%;
}

.auteur{
  -webkit-region-break-after: always;
           region-break-after: always;
                  break-after: always-region;
}

a > sup {
   font-weight: 900;
   color: @color-vert;
}


/* EXPORT */

.color {
    .filet2:after,
    .filet:before,
    .chapeau {
        border-color: transparent !important;
    }
    .fin:after {
        visibility: hidden !important;
    }
    img {
        visibility: visible !important;
    }
}

.bw {
  header,
  a > sup,
  .footnotes,
  img {
      visibility: hidden !important;
  }
    .fond {
        background-image: none !important;
    }

    .chapeau {
        color: transparent !important;
        background-color: transparent !important;
    }
    figcaption p {
        background-color: transparent !important;
    }
}
