/* Styles for 08_herrmutt-lobby */

/*FLOWS*/

#flow-herrmutt-lobby header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}
.flow-title {
    -webkit-flow-from: flow-title;
        flow-from: flow-title;
}

#flow-herrmutt-lobby .footnotes {
    -webkit-flow-into: flow-footnotes;
            flow-into: flow-footnotes;
}
.flow-footnotes {
    -webkit-flow-from: flow-footnotes;
        flow-from: flow-footnotes;
}
/*end of FLOWS*/

div.x0.flow-herrmutt-lobby,  div.x3.flow-herrmutt-lobby {
border-right:  1px solid black;
padding-right: 5px;
}


img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;

}
figure/*.x6.y0*/{
/*border-bottom: 2px solid black;*/
margin: 0

/*padding: 6px 3px;
height: 30%;*/
  }

figure  img {
    width: 100%;
    position: relative;
}
figcaption{
  -ms-transform: rotate(-90deg); /* IE 9 */
    -ms-transform-origin: left top 0; /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: left top 0; /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
transform-origin: left top 0;
position: relative;
margin-left: 97%;

  /*
  writing-mode: vertical-lr;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform: rotate(-90deg);
  white-space:nowrap;
  display:block;
  /*bottom:0;
  bottom:0;
  right:0;
  width:20px;
  height:20px;
  margin-left: 184px;*/
}
.enquete h1{
    padding: 5px 0px;
}

.exergue p + p {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    -webkit-region-break-inside: avoid;
    margin: 0;
}

blockquote > footer {
    font-size: 1rem;
    line-height: @line-height;
    text-align: right;
}
.rubrique .footnotes > li{
    font-family: "Erbar condensed";
    font-weight: normal;
    font-style: normal;
    margin:0px 0px 0px 0px;
    font-size: 8pt;
    line-height:  @line-height  ;
    }
.rubrique .footnotes > li > a{
        color: black;
        text-decoration: none;
        }
