@import "/css/main.less";


/* Styles for 02_quand-jetais-flamand */
/*GENERATED*/

/* reset folio */
body { counter-reset: folio 23 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "enquête — Quand j’étais Flamand"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }


/* FLOWS */
#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }

/*#flow-main header { .flow-into(flow-title); }*/
/*.flow-title { .flow-from(flow-title); }*/

#flow-main .footnotes li:nth-child(1),
#flow-main .footnotes li:nth-child(2) { .flow-into(flow-fn1-2); }
.flow-fn1-2 { .flow-from(flow-fn1-2); }

#flow-main .footnotes li:nth-child(3) { .flow-into(flow-fn3); }
.flow-fn3 { .flow-from(flow-fn3); }

#flow-main .footnotes li:nth-child(4) { .flow-into(flow-fn4); }
.flow-fn4 { .flow-from(flow-fn4); }

/* end of FLOWS */

.contexte {
    margin-bottom: 13px;
}

img {
    display: block;
    height: 100%;
    /*width: 100%;*/
    /*object-fit: cover;*/
}

[src="img/1C-left-low.jpg"] {
    overflow: hidden;
}
[src="img/1C-right-low.jpg"] {
    overflow: hidden;
}
[src="img/accident-low.png"] {
    overflow: hidden;
}

[src="img/Dampremy3.jpg"] {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

img[src="img/SuskeVanAken_2.JPG"] {
    /*display: none;*/
    /*object-position: 0 293px;*/
}

/*[src="img/arbre-genealogique-test.svg"]:nth-of-type(1) {*/
.foo {
    /*width: 200%;*/
    position: absolute;
    left: 0;
    top: 0;
}

/*[src="img/arbre-genealogique-test.svg"]:nth-of-type(2) {*/
.bar {
    position: absolute;
    right: 0;
    top: 0;
}

[src="img/LettreHenri.png"] {
    object-fit: contain;
}

/*img[src="img/SuskeVanAken_2.JPG"]:nth-of-type(2) {*/
    /*object-position: 0 293px;*/
/*}*/

/*img[src="img/family_tree.jpg"] {*/
/*}*/

article > header {
    /*text-align: center;*/
}

/*article > blockquote:nth-of-type(1) {*/
    /*.w5;*/
    /*float: right;*/
    /*padding-bottom: @line-height * 2;*/
/*}*/

article > blockquote:nth-of-type(1) p:last-child:before,
article > blockquote:nth-of-type(2) p:last-child:before,
article > blockquote:nth-of-type(3) p:last-child:before,
article > blockquote:nth-of-type(4) p:last-child:before {
    content: "— ";
}

.contained {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.covered {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
