@import "../../../css/main.less";


@flamand-bleu: #4F53A2;
@flamand-or: #DE7503;

/* Styles for 02_quand-jetais-flamand */
/*GENERATED*/

/* reset folio */
body { counter-reset: page-counter 48 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Enquête — Quand j’étais Flamande"; }


/* FLOWS */
#flow-main .footnotes li:nth-of-type(1),
#flow-main .footnotes li:nth-of-type(2) { .flow-into(flow-fn1-2); }
.flow-fn1-2 { .flow-from(flow-fn1-2); }

#flow-main .footnotes li:nth-of-type(3) { .flow-into(flow-fn3); }
.flow-fn3 { .flow-from(flow-fn3); }

#flow-main .footnotes li:nth-of-type(4) { .flow-into(flow-fn4); }
.flow-fn4 { .flow-from(flow-fn4); }

#flow-main figure:nth-of-type(1) { .flow-into(flow-fig1); }
.flow-fig1 { .flow-from(flow-fig1); }

#flow-main figure:nth-of-type(2) { .flow-into(flow-fig2); }
.flow-fig2 { .flow-from(flow-fig2); }

#flow-main figure:nth-of-type(3) { .flow-into(flow-fig3); }
.flow-fig3 { .flow-from(flow-fig3); }

#flow-main figure:nth-of-type(4) { .flow-into(flow-fig4); }
.flow-fig4 { .flow-from(flow-fig4); }

#flow-main figure:nth-of-type(5) { .flow-into(flow-fig5); }
.flow-fig5 { .flow-from(flow-fig5); }

#flow-main figure:nth-of-type(6) { .flow-into(flow-fig6); }
.flow-fig6 { .flow-from(flow-fig6); }

#flow-main figure:nth-of-type(7) { .flow-into(flow-fig7); }
.flow-fig7 { .flow-from(flow-fig7); }

#flow-main figure:nth-of-type(8) { .flow-into(flow-fig8); }
.flow-fig8 { .flow-from(flow-fig8); }

#flow-main figure:nth-of-type(9) { .flow-into(flow-fig9); }
.flow-fig9 { .flow-from(flow-fig9); }

#flow-main figure:nth-of-type(10) { .flow-into(flow-fig10); }
.flow-fig10 { .flow-from(flow-fig10); }

/*#flow-main aside.exergue:nth-of-type(2) { */
    /*padding-bottom: @line-height / 2;*/
/*}*/

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }
/* end of FLOWS */


// WARNING: the only way to apply padding and margin in chromium
/*.paper:nth-of-type(1) figure:nth-of-type(1) figcaption p { .figcaption-allover(); }*/

/*.paper:nth-of-type(3) figure:nth-of-type(1) figcaption p,*/
/*.paper:nth-of-type(4) figure:nth-of-type(1) figcaption p,*/
/*.paper:nth-of-type(6) figure:nth-of-type(1) figcaption p,*/
/*.paper:nth-of-type(10) figure:nth-of-type(2) figcaption p { background-color: none; }*/

.flow-fig1 figcaption p,
.flow-fig10 figcaption p {
    .figcaption-over();
    .figcaption-allover();
}


.flow-fig1 figcaption footer,
.flow-fig10 figcaption footer {
    left: calc(~"100% - 14pt - 12pt") !important;
    bottom: calc(~"14pt + 12pt") !important;
}


.flow-fig6 figcaption footer {
    left: calc(~"100% - 9pt") !important;
}

.flow-fig4 figcaption p,
.flow-fig9 figcaption p {
    .figcaption-over();
}

.flow-fig2 figcaption p,
.flow-fig7 figcaption p { background-color: none; }

.flow-fig5 figcaption p {
    .figcaption-over();
}


#flow-main > blockquote:nth-of-type(5) {
    //FIXME: Does not work!
    /*-webkit-region-break-before: always;*/
            /*region-break-before: always;*/
                   /*break-before: always;*/
}

#flow-main aside.exergue:nth-of-type(5) blockquote {
    padding-bottom: @line-height / 2;
}

.no-footer(1);
.no-footer(16);


#flow-main figure:nth-of-type(1) img {
    height: 98%;
    width: 98%;
    object-fit: contain;
    margin-left:-40px;
    margin-top:10px;
}




#flow-main figure:nth-of-type(2) img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#flow-main figure:nth-of-type(3) img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#flow-main figure:nth-of-type(4) img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#flow-main figure:nth-of-type(5) img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 center;
}

#flow-main figure:nth-of-type(6) {
    overflow: hidden;
}
#flow-main figure:nth-of-type(6) img {
    /*height: 100%;*/
    /*width: auto;*/
    object-position: -425pt;
}
.fig6-bis {
    /*height: 100%;*/
    /*width: auto;*/
}
.fig6-bis img {
}

#flow-main figure:nth-of-type(7) img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 0 0;
}

#flow-main figure:nth-of-type(8) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#flow-main figure:nth-of-type(9) img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#flow-main figure:nth-of-type(10) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contexte {
    margin-bottom: 13px;
}

figure {
    height: 100%;
    width: 100%;
}

img {
    /*display: block;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*object-fit: cover;*/
}

article > header {
    color: white;
}

article > header,
article > .chapeau {
    /*-webkit-text-stroke: 0.05pt black;*/
}

article > blockquote:nth-of-type(1) p:last-child:before,
article > blockquote:nth-of-type(2) p:last-child:before,
article > blockquote:nth-of-type(3) p:last-child:before,
article > blockquote:nth-of-type(4) p:last-child:before {
    content: "— ";
    color: inherit!important;
}

.contained {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.covered {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 { display: none; }

.debut {
    .w5;
    float: right;
    margin-bottom: @line-height;
}

p.debut + p {
    text-indent: 0!important;
}

.enquete > p:nth-of-type(3) + p { text-indent: 0; }

.inline-fn {
    .w2;
    display: block;
    float: left;
    /*color: @color-A1;*/
    margin-top: @line-height;
    margin-bottom: @line-height;
    /*margin-left: -1 * @col-gutter-width;*/
    margin-right: 9pt;
    font-family: "Univers else";
    font-weight: 200;
    font-size: 7pt;
    line-height: 9pt;
}

article > blockquote {
    margin: @line-height 0;
    margin-top: @line-height * 2;
}

article > blockquote + p::first-letter {
    .lettrine-enquete;
}

article > blockquote:before {
    content: "\e004";
    font-size: 16pt;
    line-height: 24pt;
    .w4;
    font-family: "Medor";
    display: block;
    text-align: center;
    color: @flamand-or;
}

html.bw article > blockquote:before {
    visibility: hidden!important;
}



.exergue {
    .w5();
    margin-top: @line-height * 2;
    margin-bottom: @line-height * 2;
    margin-left: -@col-gutter-width;
}

.chapeau {
   color: white;
   -webkit-region-break-after: always;
            region-break-after: always;
                   break-after: always;
}

.chapeau + p {
    color: @flamand-bleu;
}


.enquete .making-of {
    border-top: 4pt double @flamand-bleu;
    color: @flamand-bleu;
}


/* EXPORT */
.bw {
    /*img[data-color] {*/
        /*visibility: hidden !important;*/
    /*}*/
    figcaption p {
        //background-color: transparent !important;
    }
    #page-2 article:first-of-type > p:first-of-type,
    header,
    .chapeau,
    .chapeau + p,
    .enquete .making-of {
        visibility: hidden!important;
    }
}
.color {
    /*img[data-bw],*/
    aside.exergue > blockquote footer:before,
    article > blockquote:nth-of-type(1) p:last-child:before,
    article > blockquote:nth-of-type(2) p:last-child:before,
    article > blockquote:nth-of-type(3) p:last-child:before,
    article > blockquote:nth-of-type(4) p:last-child:before,
    article > header,
    article > .chapeau,
    .fin:after {
        visibility: hidden !important;
    }

    article > header,
    article > .chapeau {
        -webkit-text-stroke: 0pt transparent!important;
    }
}


#page-4 figcaption p {
      max-width: 70% !important;
  }

#page-5 figcaption p {
        max-width: 60% !important;
    }

#page-7 h3:first-of-type {
          color:red;
          margon-top:7pt;
        }





    figcaption footer {
        -webkit-transform: rotate(270deg)!important;
                transform: rotate(270deg)!important;
        -webkit-transform-origin: left bottom!important;
                transform-origin: left bottom!important;
    }
