@import "../../../css/main.less";

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }

#flow-main header { .flow-into(flow-title); }
.flow-title { .flow-from(flow-title); }

/* reset folio */
body { counter-reset: folio 121 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Politique"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }

@color-aside: rgb(154, 3, 124);


.trans(@rotate, @skew, @originY, @originX) {
  -webkit-transform: skewY(@skew) rotate(@rotate);
          transform: skewY(@skew) rotate(@rotate);
  -webkit-transform-origin: @originY @originX;
          transform-origin: @originY @originX;
}

#flow-main header h1 {
    padding-left: 0.5em;
    text-indent: -1em;
}
#flow-main > p { z-index: 999; position: relative; }

blockquote {
    margin: 0;
    padding: 0;
    font-family: "Erbar condensed";
    font-size: 20pt;
    line-height: 18pt;
    font-weight: normal;
    text-align: center;
    background: white;
    color: @color-aside;
    -webkit-hyphens: auto;
            hyphens: auto;
}
blockquote footer { font-size: 15pt; }

.exergue { padding: 12pt 0; position: relative; }

#flow-main .exergue:nth-of-type(1) {
    .trans(0deg, -15deg, center, center);
    float: left;
    width: 100pt;
    margin-left: -12pt;
    position: relative;
    left: -12pt;
}

#flow-main .exergue:nth-of-type(2) {
    /*.flow-into(flow-ex2);*/
    height: 0;
    box-sizing: border-box;
    position: relative;
    top: 4pt;
    .trans(10deg, -15deg, top, left);
    -webkit-region-break-after: always;
            region-break-after: always;
                   break-after: always;
}
.flow-ex2 {
    .flow-from(flow-ex2);
}

#flow-main .exergue:nth-of-type(3) {
    .trans(-5deg, 15deg, top, left);
    position: relative;
    top: -12pt;
}

#flow-main .exergue:nth-of-type(4) {
    .trans(5deg, -20deg, bottom, left);
    height: 0;
    position: relative;
    top: 24pt;
    -webkit-region-break-after: always;
            region-break-after: always;
                   break-after: always;
}

#flow-main .exergue:nth-of-type(5) {
    .trans(0deg, 25deg, top, left);
    margin-bottom: 24pt;
    position: relative;
    top: -12pt;
    margin-bottom: 76pt;
}
