@import "../../../css/main.less";

@color-aside: rgb(154, 3, 124);
@line-height: 11.5pt;

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }

#flow-main header { .flow-into(flow-title); }
.flow-title { .flow-from(flow-title); }

/* reset folio */
body { counter-reset: folio 121 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Politique"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }


#flow-main header h1 {
    /* centrer optiquement le titre (à cause des guillemets) */
    padding-left: 0.5em;
    text-indent: -1em;

    color: #f93134 ;
}

#flow-main > p { 
    position: relative; 
    z-index: 999; 
}

blockquote {
    margin: 0;
    padding: 0;
    font-family: "Erbar condensed";
    font-size: 20pt;
    line-height: 18pt;
    font-weight: normal;
    text-align: center;
    background: white;
    color: @color-aside;
}

blockquote footer { 
    font-size: 12pt; 
    line-height: 14pt;
}

.exergue { 
    padding: 12pt 0; 
    position: relative; 
}

#flow-main .exergue:nth-of-type(1) {
    .trans(0deg, -15deg, center, center);
    float: left;
    width: 100pt;
    margin-left: -12pt;
    position: relative;
    left: -12pt;
}

#flow-main .exergue:nth-of-type(2) {
    height: 0;
    box-sizing: border-box;
    position: relative;
    top: 4pt;
    .trans(10deg, -15deg, top, left);
    -webkit-region-break-after: always;
            region-break-after: always;
                   break-after: always;
}

#flow-main .exergue:nth-of-type(3) {
    .trans(-5deg, 15deg, top, left);
    position: relative;
    top: -12pt;
}

#flow-main .exergue:nth-of-type(4) {
    .trans(5deg, -20deg, bottom, left);
    height: 0;
    position: relative;
    top: 24pt;
    -webkit-region-break-after: always;
            region-break-after: always;
                   break-after: always;
}

#flow-main .exergue:nth-of-type(5) {
    .trans(0deg, 25deg, top, left);
    margin-bottom: 24pt;
    position: relative;
    top: -12pt;
    margin-bottom: 76pt;
}


.rubrique-title { border-color: #f93134; }


.chapeau {
  background-color: #f93134;
  color: #f3fdcf !important;

  padding: @line-height / 2;
  padding-top: @line-height  !important;
  padding-bottom: @line-height  !important;
  margin-bottom: (@line-height) * 2;
}

.rubrique > .footnotes {
    color: #f93134;
    list-style-type: none;
    margin-top: 0pt;
}

.rubrique > .footnotes em { font-style: italic; }

.rubrique h2 {
  margin-top: 11pt;
  margin-bottom: 0;
  line-height: @line-height;
}

.auteur {
  -webkit-region-break-after: always;
           region-break-after: always;
                  break-after: always-region;
}

a > sup {
   font-weight: 900;
   color: #b14542;
}
