/* reset folio */
body { counter-reset: folio 82 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd)  .body:before { content: "enquete — En &lt;em&gt;stoem’&lt;/em&gt;, la Stib fiche nos trajets pendant six mois"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }

#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
}

#flow-main header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title {
    -webkit-flow-from: flow-title;
        flow-from: flow-title;
}

img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.enquete h1 {
    padding: 5px 0;
}

.exergue p + p {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    -webkit-region-break-inside: avoid;
    margin: 0;
}

blockquote > footer {
    font-size: 1rem;
    text-align: right;
}

.chapeau {
    margin-top: 3pt;
}
