#flow-quand-jetais-flamand {
    -webkit-flow-into: flow-quand-jetais-flamand;
            flow-into: flow-quand-jetais-flamand;
}

.flow-quand-jetais-flamand {
    -webkit-flow-from: flow-quand-jetais-flamand;
        flow-from: flow-quand-jetais-flamand;
}

/* reset folio */
body { counter-reset: page-counter 11 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Enquête — Quand j՚étais Flamand"; }
.paper:nth-child(even) .body:before { content: "Médor n°1 —  décembre-janvier-février 2015"; }
