#flow-carte-postale {
    -webkit-flow-into: flow-carte-postale;
            flow-into: flow-carte-postale;
}

.flow-carte-postale {
    -webkit-flow-from: flow-carte-postale;
        flow-from: flow-carte-postale;
}

/* reset folio */
body { counter-reset: page-counter  - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Rubrique — Carte-postale"; }
.paper:nth-child(even) .body:before { content: "Médor n°1 —  décembre-janvier-février 2015"; }
