@import "../../../css/main.less";

#page-1 div.body::after, #page-1 div.body::before, #page-4 div.body::after, #page-4 div.body::before, {
  display: none;
}

.paper {
  color:#1e6076;
}


html.facing .paper:nth-child(even) .cadre{
  background: url('../img/gaba-g.svg') no-repeat;
  background-color: white;
  background-size: contain;
}

html.facing .paper:nth-child(odd) .cadre{
  background: url('../img/gaba-d.svg') no-repeat;
  background-color: white;
  background-size: contain;
}

html.facing .paper:nth-child(odd) .sans{
  background-color: white;
  //background-color: black !important;
}

#flow-main header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title {
    -webkit-flow-from: flow-title;
        flow-from: flow-title;
}

.body > p {
  text-align: justify;
}

.end p {
  font-size: 10px;
  text-align: left;
  line-height: (@line-height * 4) / 4.5;

  em{
    line-height:0pt;
  }
}

.portrait h2:nth-of-type(1){
  -webkit-region-break-before: always;
          region-break-before: always;
                 break-before: always-region;
}

.end h2{
  font-size: 10pt;
  line-height: (@line-height*4) / 4.5;
  margin-top: 6pt;
}

.portrait aside{
  -webkit-flow-into: aside;
  flow-into: aside;
  color: white;
  font-family: 'Work Sans';
  font-weight: 300;
  font-size: 7pt;
  line-height: (@line-height*4) / 4.7;
  p:first-of-type{
    display:none;
  }
  h1{
    font-family: 'Erbar condensed';
    font-weight: bold;
    font-size:12pt;
    position:absolute;
    top:0px;
  }
}

.aside{
  padding-top: @line-height;
  -webkit-flow-from: aside;
  flow-from: aside;
  margin-top: @line-height;
  //background: red;
}

img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.chapeau{
  text-align: justify;
  color:white;
}

.exergue p + p {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    -webkit-region-break-inside: avoid;
    margin: 0;
}

blockquote > footer {
    font-size: 1rem;
    //line-height: @line-height;
    text-align: right;
}

/*GENERATED */
#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}
.flow-main {
    -webkit-flow-from: flow-main;
        flow-from: flow-main;
}

#flow-main header .rubrique-title,
#flow-main header .rubrique-subtitle { .flow-into(flow-slug); }
.flow-slug { .flow-from(flow-slug); }

.legende {
  margin-top:2pt;
  font-family: "Alfphabet", sans-serif;
  font-size: 7pt;
  line-height: 9pt;
  //width: 100%;
  color:#1e6076;
  p{
    margin-top:2pt;
  }
  em{
    margin-top:2pt;
  }
}


.body:after{
  color:white
}

#flow-main > .footnotes > li:nth-child(1) { .flow-into(flowfoo); }
#ftn-1{.flow-from(flowfoo); }


#flow-main > .footnotes > li:nth-child(2) { .flow-into(flowbar); }
#ftn-2{.flow-from(flowbar); color:white }


.legende p::before {
  content: "ÿ "; font-family: "Medor";
}

/* reset folio */
body {counter-reset: page-counter 24 - 1;}

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Portrait — Le king du camping"; }

.body:before {
  color:white;
}



/* EXPORT */

.bw {
    .body { visibility: hidden; } /* Tout est en quadri ici. */
}

.color {

}
