/* Styles for bac-plus-10 */

@import "/css/main.less";

.glyph{
  font-family: 'Medor';
}

.paper {
color:#2a85a4;
}

.portrait p  {
  //text-align: justify;
}

html.facing .paper:nth-child(even) .cadre{
  background: url('../img/gaba-g.svg') no-repeat;
  background-color: white;
}

html.facing .paper:nth-child(odd) .cadre{
  background: url('../img/gaba-d.svg') no-repeat;
  background-color: white;
  //background-color: black !important;
}

html.facing .paper:nth-child(odd) .sans{
  background-color: white;
  //background-color: black !important;
}

#flow-main header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title {
    -webkit-flow-from: flow-title;
        flow-from: flow-title;
}

.body > p {
  text-align: justify;
}

.end p {
  font-size: 10px;
  text-align: left;
  line-height: (@line-height * 4) / 4.5;

}
 body {
 }

h2 {
  margin-top:@line-height;
}

.portrait aside{
  -webkit-flow-into: aside;
  flow-into: aside;
  //border: solid 3px #2a85a4;
  font-family: 'Erbar condensed';
  font-weight: normal;
  font-size: 8pt;
  color: white;
  line-height: @line-height;


  p:first-of-type{
    display:none;
  }

  h1{
    font-family: 'Erbar condensed';
    font-weight: bold;
    font-size:12pt

  }

}

.aside{
  -webkit-flow-from: aside;
  flow-from: aside;
  margin-top: @line-height;
  text-align: left;
  background:#2a85a4;
}

/*ol > li:nth-of-type(1){
  -webkit-flow-into: ftn-1;
  flow-into: ftn-1;
}
#ftn-1{
  -webkit-flow-from: ftn-1;
  flow-from: ftn-1;
}
ol > li:nth-of-type(2){
  -webkit-flow-into: ftn-2;
  flow-into: ftn-2;
}
#ftn-2{
  -webkit-flow-from: ftn-2;
  flow-from: ftn-2;
}*/

.portrait .rubrique-title{
  background: #2a85a4;
}

img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.chapeau{
  text-align: justify;
  color:white;
}

.exergue p + p {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    -webkit-region-break-inside: avoid;
    margin: 0;
}

blockquote > footer {
    font-size: 1rem;
    //line-height: @line-height;
    text-align: right;
}

/*GENERATED */
#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}
.flow-main {
    -webkit-flow-from: flow-main;
        flow-from: flow-main;
}

/*#flow-main > .footnotes > li:nth-child(1) { .flow-into(flowfoo); }
#flow-main > .footnotes > li:nth-child(2) { .flow-into(flowbar); }*/

/* reset folio */
body { counter-reset: folio 74 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Portrait — Bac + 10 à l’école de la vie"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }

.body:before {
  color:white;
}
