/* Styles for bac-plus-10 */

@import "/css/main.less";



.glyph{
  font-family: 'Medor';
}

.paper {
  color:#2a85a4;
}

.portrait p  {
  display: inline-block;
  float: left;
}

html.facing .paper:nth-child(even) .cadre{
  background: url('../img/gaba-g.svg') no-repeat;
  background-color: white;
}

html.facing .paper:nth-child(odd) .cadre{
  background: url('../img/gaba-d.svg') no-repeat;
  background-color: white;
  //background-color: black !important;
}

#flow-main header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title {
    -webkit-flow-from: flow-title;
        flow-from: flow-title;
}

.bloc p {
  text-align: justify;
  display: inline-block;
}

.end p {
  display: inline-block;
  font-size: 10px;
  text-align: left;
  line-height: (@line-height * 4) / 4.5;

}
 body {
 }

h2 {
  margin: 0px;
}

/*h2::before {
    //content: " " ;
    font-family: "Medor", serif;
    font-size: 15pt;
    color:#2a85a4;
    display:block;
    //text-align: center;
    display: inline-block;
  }*/

img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.chapeau{
  text-align: justify;
  color:white;
}

.exergue p + p {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    -webkit-region-break-inside: avoid;
    margin: 0;
}

blockquote > footer {
    font-size: 1rem;
    //line-height: @line-height;
    text-align: right;
}

/*GENERATED */
#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}
.flow-main {
    -webkit-flow-from: flow-main;
        flow-from: flow-main;
}

/*#flow-main > .footnotes > li:nth-child(1) { .flow-into(flowfoo); }
#flow-main > .footnotes > li:nth-child(2) { .flow-into(flowbar); }*/

/* reset folio */
body { counter-reset: folio 74 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "portrait — Bac + 10 à l’école de la vie"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }

.body:before {
  color:white;
}
