@import "../../../css/main.less";

#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
        flow-from: flow-main;
}
#flow-main header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title {
    -webkit-flow-from: flow-title;
        flow-from: flow-title;
}

#flow-main ul {
    -webkit-flow-into: flow-liste;
            flow-into: flow-liste;
}

.flow-liste {
    -webkit-flow-from: flow-liste;
        flow-from: flow-liste;
}


/* reset folio */
body { counter-reset: folio  - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: " — L&#39;aventure Médor"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }


img {
    width: 108%;
    height: auto;
}

.flow-fig1 figure {
    width: 70%;
    height: auto;
    position: relative;
    -webkit-transform: rotate(270deg);
        transform: rotate(270deg);

}
