@import "/css/main.less";

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }

#flow-main header { .flow-into(flow-title); }
.flow-title { .flow-from(flow-title); }

#flow-main figure:nth-of-type(2) { .flow-into(flow-fig1); }
.flow-fig1 { .flow-from(flow-fig1); }

#flow-main figure:nth-of-type(1) { .flow-into(flow-fig2); }
.flow-fig2 { .flow-from(flow-fig2); }

/* reset folio */
body { counter-reset: folio 111 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "traduction — Le monstre en moi qui grandit"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }

figure,
figure img {
    width: 100%;
    height: 100%;
}

h2:nth-of-type(1) + p,
h2:nth-of-type(4) + p {
    -webkit-region-break-inside: avoid;
                   break-inside: avoid;

    font-family: "Erbar condensed";
    font-size: 18pt;
    font-weight: bold;
    line-height: @line-height * 1.5;
    text-align: left;

    .w5;
    float: right;
    padding-bottom: @line-height * 2;

}
