/* Styles for 08_herrmutt-lobby */
/* reset folio */
@import "/css/main.less";

body { counter-reset: folio 119 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd)  .body:before { content: "rubrique — À Verviers, elle germe, elle germe, la prochaine révolution musicale"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }

/*FLOWS*/
#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
        flow-from: flow-main;
}

#flow-main header {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}
.flow-title {
    -webkit-flow-from: flow-title;
            flow-from: flow-title;
}

#flow-main figure:nth-of-type(1) { .flow-into(flow-fig1); }
.flow-fig1 { .flow-from(flow-fig1); }

#flow-main figure:nth-of-type(2) { .flow-into(flow-fig2); }
.flow-fig2 { .flow-from(flow-fig2); }

#flow-main figure:nth-of-type(3) { .flow-into(flow-fig3); }
.flow-fig3 { .flow-from(flow-fig3); }

#flow-main figure:nth-of-type(4) { .flow-into(flow-fig4); }
.flow-fig4 { .flow-from(flow-fig4); }

#flow-main .footnotes {
    -webkit-flow-into: flow-footnotes;
            flow-into: flow-footnotes;
}
.flow-footnotes {
    -webkit-flow-from: flow-footnotes;
            flow-from: flow-footnotes;
}
/*end of FLOWS*/




.flow-fig1 figure, .fig1 figure {
    //width: 107%;
    height: auto;
  //  margin-left: -25pt;
  margin-top: -15pt;
}

.flow-fig3 figure, .flow-fig4 figure, .fig3 figure {
  //  width: 247%;
  width:196%;
    height: auto;
  margin-left: -108pt;
//    margin-left: -192pt;
  //opacity:  0.3;

}
.flow-fig1 img, .fig1 img  {
  border:2px solid yellow !important;
}

p{
  font-family: "Bagnard";
  font-size: 8.5pt;
  letter-spacing: -0.5pt;
  //color: white;
}
img {
    //display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;


}



// .rubrique h1{
// font-family: "Alfphabet-Condensed" !important;
// font-size: 33pt !important;
// line-height: @line-height *2.5 !important;
// font-weight: normal;
// //text-transform: uppercase;
// }
// .rubrique h2, .rubrique > h3{
// font-family: "Alfphabet-Condensed" !important;
// font-size: 12.5pt !important;
// font-weight: normal;
// line-height: @line-height * 1;
// text-transform: initial;
// margin-bottom:@line-height /2;
// margin-top: @line-height/2;
// }

figcaption {
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(-90deg); /* IE 9 */
    transform: rotate(-90deg);
    -webkit-transform-origin: left top 0; /* Chrome, Safari, Opera */
    -ms-transform-origin: left top 0; /* IE 9 */
    transform-origin: left top 0;
    position: relative;
    margin-left: 100%;
    width:100%;
}

.enquete h1 { padding: 5px 0; }

.exergue p + p {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    -webkit-region-break-inside: avoid;
    margin: 0;
}

blockquote > footer {
    font-size: 1rem;
    text-align: right;
}
.rubrique .footnotes > li{
    font-family: "Erbar condensed";
    font-weight: normal;
    font-style: normal;
    margin: 0;
    font-size: 8pt;
}
.rubrique .footnotes > li > a {
    color: black;
    text-decoration: none;
}
.rubrique-title,  .rubrique-subtitle{
color: white;
}
ul {
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate(-90deg); /* IE 9 */
  transform: rotate(-90deg);
  -webkit-transform-origin: left bottom 0; /* Chrome, Safari, Opera */
  -ms-transform-origin: left bottom 0; /* IE 9 */
  transform-origin: left bottom 0;
  position: relative;
  margin-left: 133pt;
  margin-top: 140pt;
  width:100%;
  list-style-type: none;
    font-family: "Erbar condensed";
    line-height: @line-height;
}

h2:last-of-type{
  display: none;
}
h2:nth-of-type(3){
//margin-top: 0px !important;
}

p > em{
  font-family: 'Century Schoolbook' !important;
  font-style: italic !important;
}
strong{

  font-size: 8pt;
  display: inline;
}
strong::before{
  content: ' M';
  font-family: 'Medor';
  color:yellow;
}
.authors{
  display: none;
}
#page-1 .y2 {
  margin-top: @line-height ;
  margin-bottom: -12pt;
}
