#flow-gares {
    -webkit-flow-into: flow-gares;
            flow-into: flow-gares;
}

.flow-gares {
    -webkit-flow-from: flow-gares;
        flow-from: flow-gares;
}

/* reset folio */
body { counter-reset: folio  - 1; }


/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Enquête — Détournement de gares"; }
.paper:nth-child(even) .body:before { content: "Médor n°1 —  décembre-janvier-février 2015"; }
