/* reset folio */

@import "../../../css/main.less";
@line-height: 11.5pt;


@color-fushia:#FE02FC;
@color-pomme:#e1f17a;

body { counter-reset: folio 82 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Aire libre"; }

/* flows */
#flow-main header .rubrique-title,
#flow-main header .rubrique-subtitle { .flow-into(flow-slug); }
.flow-slug { .flow-from(flow-slug); }

#flow-main header { .flow-into(flow-title); }
.flow-title { .flow-from(flow-title); }

#flow-main .chapeau { .flow-into(flow-chapeau); }
.flow-chapeau { .flow-from(flow-chapeau); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }


.fond {
    background-image: url("https://medor.coop/media/filer_public/89/8b/898b0547-516f-4e73-a01c-1ca379f06d84/medorss-bubble.png");
    background-size: cover;
}

.rubrique-title { border-color: @color-fushia; }

img {
    //display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;

}

.fig1 figure {
  width: 106%;
  text-align: left;
  margin-left: -31pt;
  margin-top: -29pt;
}
.fond{
  width: 132%;
margin-left: -33pt;
margin-top: -30pt;
}
.rubrique h1 {
  // padding: 5px 0;
  font-weight: normal;
  color:@color-fushia !important;
  // font-family: "Career";
  //font-family: "Career-salle13";
  // font-family: 'Career-turning';
  // font-family: 'Career-turning';
   margin-top: 29px;

}

.chapeau{
    // -webkit-region-break-after: always;
    //          region-break-after: always;
    //                 break-after: always-region;
      // background-color:@color-pomme;
      color: black !important;
      // padding: @line-height / 2;
      // padding-top: @line-height  !important;
      // padding-bottom: @line-height  !important;
      margin-bottom: (@line-height)  !important;
       font-feature-settings: "liga" 0;
       -webkit-font-feature-settings: "liga" 0;
         padding-top: 5.5pt !important;

}

.rubrique > .footnotes {
    color: @color-fushia;
    list-style-type: none;
    margin-top: @line-height;
}
.rubrique > .footnotes em {

   font-style: italic;

}
.rubrique h2 {
  margin-top: 11pt ;
  margin-bottom: 0;
  line-height: @line-height;
}
.rubrique h2:nth-of-type(1) {
   margin-top: 0pt ;

}
#flow-main figcaption:nth-of-type(1) {

position: relative;
margin-top: 11.5pt;
bottom: 0px;

}
#flow-main figcaption:nth-of-type(1) p {
  left: 35px !important;
  font-family: Alfphabet, sans-serif;
  bottom: -2pt;
  width: 95pt !important;

}
#flow-main figcaption:nth-of-type(2) {

  margin-top: 8pt;
  margin-right: -107%;
  margin-left:  -315%;


}
#flow-main figcaption:nth-of-type(2) footer {
  margin-left: -13%;
position: relative;
border-width: 0pt;
  margin-bottom: 5pt;
}
  figcaption{
    font-family: "Alfphabet", sans-serif;
    font-size: 7pt;
    line-height: 9pt;
    margin-top: @line-height *2;


}

figcaption p {
   background-color: white;
  //  position: absolute;
   bottom: 0;
   left: 0;
   padding: 6pt 1em;
   border: 1px solid black;
   position: relative !important;

}

.figcaption-allover {
    padding: 6pt (6pt + 14pt) (6pt + 14pt) (6pt + 14pt);
}

 figcaption footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
            margin-left: 103%;
margin-bottom: 0pt;
margin-right: -43%;
}

.auteur{
  -webkit-region-break-after: always;
           region-break-after: always;
                  break-after: always-region;
}

a > sup {
   font-weight: 900;
   color: @color-fushia;
}
