@import "../../../css/main.less";

/*GENERATED */

#flow-main header { .flow-into(flow-title); }
.flow-title { .flow-from(flow-title); }

#flow-main .chapeau { .flow-into(flow-chapeau); }
.flow-chapeau { .flow-from(flow-chapeau); }

// encadré
#flow-main aside:nth-of-type(3) { .flow-into(flow-encadre); }
.flow-encadre { .flow-from(flow-encadre); }

#flow-main .footnotes li:nth-of-type(1) { .flow-into(flow-fn1); }
.flow-fn1 { .flow-from(flow-fn1); }

#flow-main figure:nth-of-type(1) { .flow-into(flow-fig1); }
.flow-fig1 { .flow-from(flow-fig1); }

#flow-main figure:nth-of-type(2) { .flow-into(flow-fig2); }
.flow-fig2 { .flow-from(flow-fig2); }

#flow-main figure:nth-of-type(3) { .flow-into(flow-fig3); }
.flow-fig3 { .flow-from(flow-fig3); }

#flow-main figure:nth-of-type(4) { .flow-into(flow-fig4); }
.flow-fig4 { .flow-from(flow-fig4); }

// Pas utilisée
#flow-main figure:nth-of-type(5) { .flow-into(flow-fig5); }
.flow-fig5 { .flow-from(flow-fig5); }

#flow-main figure:nth-of-type(6) { .flow-into(flow-fig6); }
.flow-fig6 { .flow-from(flow-fig6); }

#flow-main figure:nth-of-type(7) { .flow-into(flow-fig7); }
.flow-fig7 { .flow-from(flow-fig7); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }



/* reset folio */
body { counter-reset: folio 8 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Enquête — SNCB : quand l’intégrité déraille"; }

.enquete > header h1 {
  color: #fffbc4;
  -webkit-text-stroke: 1pt @color-black;
}

/*specific styles*/
.enquete > .chapeau {
    -webkit-region-break-after: always;
            region-break-after: always;
                   break-after: always-region;
    /*color: white;*/
}

.enquete > .chapeau + p {
     /*.w5;*/
     /*float: right;*/
     /*margin-bottom: @line-height;*/
}

.authors {
    margin-top: 0 !important;
    line-height: @line-height !important;
}

aside {
    font-family: 'Univers else';
    font-weight: 200;
    font-size: 9pt;
    line-height: 12pt;
}

aside > h1 {
    font-size: 9pt;
    line-height: @line-height;
    font-weight: normal;
}

.flow-encadre {
    border: 6pt double @color-B2;
    box-sizing: border-box;
    padding: @line-height / 2 9pt;
}

figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fig1-bis img {
    /*height: 100%;*/
    /*width: 200%;*/
}

#flow-main figure:nth-of-type(1) img {
    /*height: 100%;*/
    /*width: 200%;*/
    object-position: -444pt 0;
}

#flow-main figure:nth-of-type(2) img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

#flow-main figure:nth-of-type(3) img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#flow-main figure:nth-of-type(4) img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#flow-main figure:nth-of-type(6) img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

#flow-main figure:nth-of-type(7) img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.exergue {
    .w5();
    margin-top: @line-height * 2;
    margin-bottom: @line-height * 2;
    margin-left: -@col-gutter-width;
}
