@import "/css/main.less";

/*GENERATED */

#flow-main header { .flow-into(flow-title); }
.flow-title { .flow-from(flow-title); }

#flow-main aside:nth-of-type(1) { .flow-into(flow-encadre); }
.flow-encadre { .flow-from(flow-encadre); }

#flow-main figure:nth-of-type(1) { .flow-into(flow-fig1); }
.flow-fig1 { .flow-from(flow-fig1); }

#flow-main figure:nth-of-type(2) { .flow-into(flow-fig2); }
.flow-fig2 { .flow-from(flow-fig2); }

#flow-main figure:nth-of-type(3) { .flow-into(flow-fig3); }
.flow-fig3 { .flow-from(flow-fig3); }

#flow-main figure:nth-of-type(4) { .flow-into(flow-fig4); }
.flow-fig4 { .flow-from(flow-fig4); }

#flow-main figure:nth-of-type(5) { .flow-into(flow-fig5); }
.flow-fig5 { .flow-from(flow-fig5); }

#flow-main figure:nth-of-type(6) { .flow-into(flow-fig6); }
.flow-fig6 { .flow-from(flow-fig6); }

#flow-main figure:nth-of-type(7) { .flow-into(flow-fig7); }
.flow-fig7 { .flow-from(flow-fig7); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }



/* reset folio */
body { counter-reset: folio 8 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "enquête — SNCB : quand l’intégrité déraille"; }
.paper:nth-child(even) .body:before { content: "Médor #1"; }

.enquete > header h1 {
    color: white;
    -webkit-text-stroke: 1pt black;
}

/*specific styles*/
.enquete > .chapeau {
    -webkit-region-break-after: always;
            region-break-after: always;
                   break-after: always-region;
    /*color: white;*/
}

.enquete > .chapeau + p {
     .w5;
     float: right;
     margin-bottom: @line-height;
}

.authors {
    margin-top: 0 !important;
    line-height: @line-height !important;
}

aside h1 {
    margin-top: 0 !important;
    line-height: @line-height * 3.5 !important;
} 

div.flow-encadre h2 {
    font-family: 'Bagnard' !important;
    margin-bottom: @line-height /2;
    line-height: (@line-height /2 ) * 3;
    font-size: 15pt;
}

div.flow-encadre p {
    font-family: 'Erbar condensed' !important;
    font-size: 11pt;
}

div.flow-encadre {
    background-color: #e1f17a;
    border-right: solid 2px black;
    padding-left: 24pt;
    padding-right: 37pt;
    padding-top: 24pt;
    margin-right: 5pt;
}

div.border-double {
    border-right: solid 2px black;
    margin-right: 11pt;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure:nth-of-type(1), 
figure:nth-of-type(2) { 
     width: 100%;
     height: 100%;
}

figure:nth-of-type(1), 
figure:nth-of-type(2) { 
     width: 100%;
     height: 100%;
}

figure:nth-of-type(1) img, 
figure:nth-of-type(2) img { width: 200%; }

figure:nth-of-type(2) { margin-left: -481pt; }

.flow-fig3 figure{
    margin-left: -21pt;
    margin-top: -29pt;
    width: 108%;
}

.flow-fig4 figure,
.flow-fig5 figure  {
    width: 147%;
    height: auto;
    margin-top: -33pt;
    margin-left: 6pt;
}

.flow-fig5 figure { margin-left: -481pt; }

#img4, 
#img4-right {
    height: auto;
    width: 200%;
}

#img4-right { margin-left: -481pt; }

#img3, 
#img3-right {
    width: 157%;
    height: auto;
}

#img3-right > img  { margin-left: -481pt; }
