#flow-making-of {
    -webkit-flow-into: flow-making-of;
            flow-into: flow-making-of;
}

.flow-making-of {
    -webkit-flow-from: flow-making-of;
        flow-from: flow-making-of;
}

/* reset folio */
body { counter-reset: page-counter 11 - 1; }

/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: "Making-of"; }
.paper:nth-child(even) .body:before { content: "Médor n°1 —  automne-hiver 2015"; }




